
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    var pontuacao = @TempData["Pontuacao"];
}

<h3><strong>Pontuação total : @pontuacao</strong></h3>

<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Mundo 1
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p>
                    <h5>Neste mundo iremos abordar os primeiros passos que devemos tomar para começar a investir!</h5>
                    <h5>Serão questões simples mas muito importantes para seguir com a aprendizagem.</h5>
                    <br />
                    <b>Material de apoio:</b>
                    <br />
                    <a href="https://riconnect.rico.com.vc/blog/reserva-financeira" target="_blank">Reserva Financerira</a>
                    <br />
                    <a href="https://riconnect.rico.com.vc/blog/fundo-garantidor-credito-fgc" target="_blank">FGC</a>
                    <br />
                    <a href="https://riconnect.rico.com.vc/blog/taxa-selic?s=O+Que+%C3%A9+Taxa+Selic+e+Como+Ela+Influencia+os+Investimentos+Hoje
                    " target="_blank">SELIC</a>
                    <br />
                    <a href="https://www.youtube.com/watch?v=W8p6YVjA1Hc" target="_blank">Reserva de Emergência</a>
                    <br />
                    <br />
                </p>
                <div class="d-grid">
                    <a href="/Questionario/Avaliacao?id=1" class="btn btn-primary" onclick="return confirm('Deseja começar o questionario ?')">Iniciar questionario</a>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Mundo 2
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p>
                    <h5>Neste mundo iremos abordar os temas de renda fixa e renda variavel!</h5>
                    <h5>Serão questões mais complexas e muito importantes para seguir com a aprendizagem.</h5>
                    <br />
                    <b>Material de apoio:</b>
                    <br />
                    <a href="https://riconnect.rico.com.vc/blog/renda-fixa" target="_blank">Renda fixa</a>
                    <br />
                    <a href="https://riconnect.rico.com.vc/blog/renda-variavel" target="_blank">Renda variavel</a>
                    <br />
                    <a href="https://riconnect.rico.com.vc/blog/cdb-o-que-e" target="_blank">CDB</a>
                    <br />
                    <a href="https://www.rico.com.vc/bmf-bovespa/acoes/" target="_blank">Ações</a>
                    <br />
                    <br />
                </p>
                @if (pontuacao)
                {
                    <div class="d-grid">
                        <a href="/Questionario/Avaliacao?id=2" disabled class="btn btn-primary" onclick="return confirm('Deseja começar o questionario ?')">Iniciar questionario</a>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
