
@{
    ViewData["Title"] = "Manual";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h3>Manual</h3>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Introdução
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p>
                    <b>Reserva de emergência</b> &#8594; É um valor importante que se guarda para momentos de eventuais necessidades e imprevistos que possam acontecer.
                    <br /><br />
                    <b>Corretora de valores</b> &#8594; É uma empresa atuante no sistema financeiro que intermedia a compra e venda de títulos financeiros a seus clientes.
                    <br /><br />
                    <b>Renda fixa</b> &#8594; Investimento  de baixo risco. É uma classe de investimentos com regras de remuneração definidas.
                    <br />
                    Ou seja, no momento da aplicação já é dada a informação de quanto aquele investimento irá render.
                    <br /><br />
                    <b>Renda variável</b> &#8594; Investimento de alto risco. É uma classe de investimentos que o retorno é totalmente indefinido
                    <br />
                    e pode variar positivo ou negativamente independente do prazo.
                    <br /><br />
                    <b>Liquidez</b> &#8594; é a facilidade na qual você pode resgatar um investimento para a sua conta.
                    <br /><br />
                    <b>IPCA</b> &#8594; É o Índice Nacional de Preços ao Consumidor Amplo. Que tem por objetivo medir a inflação de um conjunto
                    <br />
                    de produtos e serviços comercializados no varejo.
                    <br /><br />
                    <b>SELIC</b> &#8594; é a taxa básica da economia e serve de referência para outras taxas de juros.
                    <br /><br />
                    <b>FGC</b> &#8594; É a proteção do Fundo Garantidor de Créditos. Nos garante o seguro de R$ 250 mil por CPF.
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Renda fixa
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p>
                    <br /><br />
                    <b>CDI</b> &#8594; É o certificado de depósitos interbancário. É uma taxa derivada da taxa Selic e utilizada para regular o empréstimo entre os bancos.
                    <br /><br />
                    <b>CDB</b> &#8594; O CDB é o Certificado de Depósito Bancário. Ele é um investimento de renda fixa emitido pelos bancos. (Contém IOF e IR)
                    <br /><br />
                    <b>CDB (Tipo de rentabilidade)</b> &#8594;
                    <br /><br />
                    <b>Pós-fixados</b>  &#8594; Este é o tipo mais comum de CDB. A sua taxa de rentabilidade é atrelada a um indexador da economia (como IPCA e a taxa Selic).
                    <br /><br />
                    <b>Prefixados</b> &#8594;  No momento da compra, você já sabe exatamente o quanto o seu dinheiro vai valorizar até a data do vencimento.
                    <br /><br />
                    <b>Híbridos</b> &#8594; Ele possui taxa de rentabilidade composta por duas partes: uma fixa e uma variável.
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Renda variável
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p>
                    <br /><br />
                    <b>Ações</b> &#8594; É a menor fração do capital social de uma companhia.
                    <br /><br />
                    <b>Criptomoeda</b> &#8594; É um ativo digital criptografado que pode ser usado como meio de troca ou reserva de valor.
                    <br /><br />
                    <b>Cambio</b> &#8594; É o termo utilizado, principalmente, para operações entre moedas de diferentes países.
                    <b>Tributos</b> &#8594; São valores que devem ser pagos ao poder público.
                    <br /><br />
                    <b>IOF</b> &#8594; É o Imposto sobre Operações Financeiras.
                    <br /><br />
                    <b>IR</b> &#8594; Imposto de Renda.
                </p>
            </div>
        </div>
    </div>
</div>
