
@{
    ViewData["Title"] = "Informacao";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h5>Informações do Usuario</h5>

<br />
<br />

<div class="row">
    <div class="col-md-2 text-start">
        Id
    </div>
    <div class="col-md-10">
        <strong>@TempData["ID"]</strong>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-start">
        Nome
    </div>
    <div class="col-md-10">
        <strong>@TempData["Nome"]</strong>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-start">
        Email
    </div>
    <div class="col-md-10">
        <strong>@TempData["Email"]</strong>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-start">
        Data de nascimento
    </div>
    <div class="col-md-10">
        <strong>@TempData["DataNascimento"]</strong>
    </div>
</div>
